<div class="sidebar">
    <h2>ConfHub</h2>
    <a href="/dashboard">Dashboard</a>
    <a href="/submit-paper">Submit Paper</a>
    <a href="/submission-history">My Submissions</a>
    <a href="/register-conference">Register Conference</a>
    <a href="/my-registrations">My Registrations</a>
    <a href="/payment">Payments</a>
    <a href="/profile">Profile</a>
</div>


<div class="main">
<div class="card">
<h2>Submit Paper</h2>

<form action="/submit-paper" method="post" enctype="multipart/form-data">

<label>Title</label>
<input type="text" name="title">

<label>Abstract</label>
<textarea name="abstract" rows="5"></textarea>

<label>Upload File</label>
<input type="file" name="paperFile">

<button type="submit">Submit</button>
</form>
</div>
</div>
